{% extends 'admin/dashboard/base.html.twig' %}
{% block title %}Liste des formations | Administration | AdmissionFacile
{% endblock %}
{% block content %}
<div class="container-fluid p-0">

	<div class="d-flex justify-space-between row">
		<div class="mb-4 col-12 col-sm-8  ">
			<div class="d-flex w-100">
				<h1 class="h3 mb-1 col-10">{{"Les Programmes de formations"|trans}}</h1>
			</div>

			<p>{{t("Ajouter les informations relatives aux programmes de formation")}}</p>
		</div>
		<div class=" col-sm-4 text-end mb-4 mb-sm-0 ">
			<a href="/admin/formations/programs/items" class="btn btn-outline-secondary">{{t("Ajouter")}}</a>
		</div>

	</div>

	<div class="row">
		<div class="col-xl-12">
			<div class="card">
				<div class="card-body">
					<table id="datatables-clients" class="table table-striped" style="width:100%">
						<thead>
							<tr>
								<th>#</th>
								<th>{{t("Nom du programme")}}</th>
								<th>{{t('Code Programme')}}</th>
                                <th>{{t('Secteur')}}</th>
                                <th>{{t('Diplome')}}</th>
                                <th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for d in data %}
							<tr>
								
								<td>
									{% if d.program_iconLogo %}
									<img src="{{d.program_iconLogo}}" class="card-image my-n1" alt="Avatar">
									{% endif %}
								</td>
								<td>
									<a href="/admin/institutions/items/details/{{d.institution_id}}">{{d.program_name}}</a>
									</td>
								<td>
									{{d.program_code}}
								</td>
								<td>
									<a href="{{d.institution_website_url}}">
										{{d.sector_name}}
									</a>
								</td>
                                <td>
									<a href="{{d.institution_website_url}}">
										{{d.diploma_name}}
									</a>
								</td>
                                <td>
                                    <div class="dropdown position-relative">
										<a href="#" class="btn btn-primary" data-bs-toggle="dropdown" data-bs-display="static">
											<i class="fas fa-ellipsis-v"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-end">
											<a class="dropdown-item"
												href="/admin/formations/programs/items?item_id={{d.program_id}}&action=edit">Editer</a>
											<a class="dropdown-item delete-action-modal-btn text-white bg-danger" href="#"
												data-bs-action-url="/admin/formations/programs?item_id={{d.program_id}}&action=delete"  data-bs-toggle="modal"
												data-bs-action-message="Voulez vous supprimer ce programme ?">Supprimer</a>
										</div>
									</div>
                                </td>
							</tr>
							{% endfor %}

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () { // Datatables clients
		/*$("#datatables-clients").DataTable({
			responsive: true,
			order: [
				[1, "asc"]
			]
		});*/


	});
</script>

{% endblock %}