{% extends 'admin/dashboard/base.html.twig' %}
{% block title %}Liste des utilisateurs | Administration | AdmissionFacile
{% endblock %}
{% block content %}

<div class="container-fluid p-0">

	<div class="d-flex justify-space-between row">
		<div class="mb-4 col-12 col-sm-8  ">
			<div class="d-flex w-100">
				<h1 class="h3 mb-1 col-10">{{"Les utilisateurs"|trans}}</h1>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-xl-12">
			<div class="card">
				<div class="card-body">
					<table id="datatables-clients" class="table table-striped" style="width:100%">
						<thead>
							<tr>
								<th>{{t("Nom Complet ")}}</th>
                                <th>{{t('Email')}}</th>
                                <th>{{t('Date de création du compte')}}</th>
							</tr>
						</thead>
						<tbody>
							{% for d in data %}
							<tr>
								
								<td>
									{{d.user_fullname|raw}}
								</td>
								<td>
									{{d.user_email|raw}}
								</td>
                                <td>
                                    {{d.user_createdAt|date('d-m-Y')}}
                                </td>
							</tr>
							{% endfor %}

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () { // Datatables clients
		$("#datatables-clients").DataTable({
			responsive: true,
			order: [
				[1, "asc"]
			]
		});


	});
</script>

{% endblock %}