{% extends 'admin/dashboard/base.html.twig'%}
{% block content %}
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12 col-md-8 mx-auto ">
            <div class="mb-3">
                <h1 class="h3 mb-1 col-10">{{"Ajouter un nouveau secteur"|trans}}</h1>
                <p>{{t("Créer un nouveau secteur de formation.")}}
                </p>
            </div>
            <form class="card" id="submitsector" method="POST" action="/admin/formations/secteurs/item/{{data.id}}" enctype="multipart/form-data">
                <div class="card-body ">
                    {% if ( message is not empty) and ( errors is not empty) %}
                    <div class="alert alert-danger p-3" role="alert">
                        {{message}}
                    </div>
                    {% endif %}
                    <div class="input-group-lg">
                        <label class="mb-1">{{t("Nom du secteur")}}</label>
                        <input type="text" name="name" class="form-control form-lg {{errors.name is not empty ? "
                            is-invalid":""}}" value="{{data.name}}">
                        {% if errors.name is not empty %}
                        {% for error in errors.name %}
                        <small class="text-danger">{{error}}</small>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="mt-4" id="iconFile">
                        <label class="mb-1">{{t("Choisir une icon descriptive")}}</label>
                        <div class="relative icon-file-selector rounded-lg  shadow text-lg d-flex justify-content-center align-items-center">
                            <input type="file" name="iconFile" />
                            <i class="fas fa-image image_icon"></i>
                            <button  style="width:10px; height:10px;" class="close absolute shadow-lg rounded-full p-2 bg-white border-0 d-none">
                                <i class="fas fa-close"></i>
                            </button>
                        </div>
                        {% if errors.iconFile is not empty %}
                        {% for error in errors.iconFile %}
                        <small class="text-danger">{{error}}</small>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="mt-4 input-group-lg">
                        <label class="mb-1" for="">{{t("Slug Secteur")}}</label>
                        <input class="form-control {{errors.slug is not empty ? " is-invalid":""}}" name="slug"
                            type="text" value="{{data.slug}}" />
                        {% if errors.slug is not empty %}
                        {% for error in errors.slug %}
                        <small class="text-danger">{{error}}</small>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="mt-4 input-group-lg">
                        <label class="mb-1" for="">{{t("Description du secteur")}}</label>
                        <textarea rows="6" name="description" class="form-control {{errors.description is not empty ? "
                            is-invalid":""}}" type="text">{{data.description}}</textarea>
                        {% if errors.description is not empty %}
                        {% for error in errors.description %}
                        <small class="text-danger">{{error}}</small>
                        {% endfor %}
                        {% endif %}
                    </div>
                    

                    
                    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
                    <div class="text-end mt-4">
                        <button type="submit" class=" btn btn-lg btn-primary border-0">
                            <span class="d-sm-none">{{t("Créer domaine")}}</span>
                            <span class="d-none d-sm-inline ">{{data.id ? t("Editer un nouveau domaine"): t("Créer un nouveau domaine")}}</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        //Initiate icon image
    
        if("{{data.iconFile}}"){
            handleIconClick(".icon-file-selector", "{{data.iconFile}}")
        }
        initFileInputPreviewer(".icon-file-selector")

        document.querySelector("input[name='name']").addEventListener("change", (e) => {
            document.querySelector("input[name='slug']").value = slugify(e.target.value);
        })
        
        $("form#submitsector").on("submit", (e)=>{
            e.preventDefault();
            submitForm("form#submitsector", "/admin/formations/secteurs/item/{{data.id}}",(data)=>{
                window.location.href="/admin/formations/secteurs/";
            },(name)=>{
                if(name==="iconFile"){
                    return document.querySelector("#iconFile");
                }

            });
        })
        

     });
</script>
{% endblock %}