{% extends 'client/base.html.twig' %}

{% block title %}AdmissionFacile | {{"Obtener votre admission sans perdre du temps"|trans}}{% endblock %}

{% block body %}

<div class="mt-4 container pb-5">

    <div class="row">
        <div class="col-12 col-md-4">
            <div class="user-menu close card border-0">
                <div class="card-body pb-4">
                    <div class="img-user-menu-header justify-content-center">
                        <div class="d-none d-md-flex  flex-column align-items-center">
                            <img class=" img-user-profile" style="flex-shrink: 0;" src="{{user.user_imgUrl ?? "/assets/img/avatars/Multimedia_(403).jpg"}}" />
                            
                            <h5 class="mt-4">{{user.user_fullname}}</h5>
                        </div>
                        <div class="px-2  mobile-user-menu d-flex w-100 justify-content-between align-items-center d-md-none">
                            <div class="user-ig-container  align-items-center">
                                <img class="img-user-profile" style="flex-shrink: 0;" src="{{user.user_imgUrl?? "/assets/img/avatars/Multimedia_(403).jpg"}}" />
                                <h6 class="m-0 ms-4">
                                    {{user.user_fullname}}
                                </h6>
                            </div>
                            <span class="tab-icon ">
                                <i class="fa fa-chevron-down"></i>
                            </span>
                        </div>
                    </div>
                    <div class="menu-container">
                        <div >
                            <a href="/user/submissions" class="user-menu-link d-flex p-2 align-items-center p-3 justify-content-between {{current_url starts with "/user/submissions" ? "active" : "" }}"
                                style="border-radius: 15px;">
                                <p class="mb-0 d-inline-flex align-items-center">
                                    <span>
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_26_1858)">
                                                <path
                                                    d="M16.8751 9.00001H15.7501C15.6617 9.00001 15.5894 9.07233 15.5894 9.16072V15.5893H2.41078V2.41072H8.83936C8.92775 2.41072 9.00007 2.3384 9.00007 2.25001V1.12501C9.00007 1.03662 8.92775 0.964294 8.83936 0.964294H1.60721C1.25163 0.964294 0.964355 1.25157 0.964355 1.60715V16.3929C0.964355 16.7484 1.25163 17.0357 1.60721 17.0357H16.3929C16.7485 17.0357 17.0358 16.7484 17.0358 16.3929V9.16072C17.0358 9.07233 16.9635 9.00001 16.8751 9.00001Z"
                                                    fill="currentColor" />
                                                <path
                                                    d="M5.86387 9.46005L5.8257 11.8487C5.8237 12.0275 5.96834 12.1741 6.14713 12.1741H6.15517L8.5257 12.1159C8.56588 12.1138 8.60606 12.0978 8.63419 12.0697L16.9893 3.7326C17.0516 3.67032 17.0516 3.56787 16.9893 3.50559L14.4922 1.0105C14.4601 0.978357 14.4199 0.964294 14.3777 0.964294C14.3355 0.964294 14.2953 0.980366 14.2632 1.0105L5.91008 9.34755C5.88106 9.3779 5.86456 9.41807 5.86387 9.46005ZM7.13954 9.93416L14.3777 2.71206L15.2857 3.61809L8.04356 10.8442L7.12548 10.8663L7.13954 9.93416Z"
                                                    fill="currentColor" />
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_26_1858">
                                                    <rect width="18" height="18" fill="white" />
                                                </clipPath>
                                            </defs>
                                        </svg>

                                    </span>
                                    <span class="ms-2" style="font-weight: 600;">{{t("Mes Demandes")}}</span>
                                </p>
                                <!--p class="mb-0">
                                    <span class="badge bg-warning rounded-pill">6</span>
                                </p-->
                            </a>
                        </div>
                        <!--div class="mt-1">
                            <a href="/user/notifications" class="user-menu-link d-flex p-2 align-items-center p-3 justify-content-between {{current_url starts with "/user/notifications" ? "active" : "" }}"
                                style="border-radius: 15px;">
                                <p class="mb-0 d-inline-flex align-items-center">
                                    <span>
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M17.2778 0C17.1924 0 17.1046 0.0157481 17.0169 0.0517436L4.04949 5.26209H0.359955C0.16198 5.26209 0 5.42857 0 5.63555V12.3622C0 12.5692 0.16198 12.7357 0.359955 12.7357H2.64792C2.56468 12.9966 2.51969 13.2733 2.51969 13.5546C2.51969 15.0371 3.73003 16.243 5.21935 16.243C6.46569 16.243 7.51631 15.3971 7.82677 14.2542L17.0191 17.9483C17.1069 17.982 17.1946 18 17.2801 18C17.6603 18 18 17.6805 18 17.2531V0.746907C17.9977 0.31946 17.6603 0 17.2778 0ZM5.21935 14.6299C4.62317 14.6299 4.13948 14.1485 4.13948 13.5546C4.13948 13.3026 4.22722 13.0619 4.38695 12.8706L6.29696 13.6378C6.25197 14.1912 5.78628 14.6299 5.21935 14.6299ZM16.378 15.9438L4.65242 11.2328L4.3622 11.1159H1.6198V6.88189H4.3622L4.65242 6.7649L16.378 2.05399V15.9438Z"
                                                fill="currentColor" />
                                        </svg>


                                    </span>
                                    <span class="ms-2" style="font-weight: 600;">{{t("Notifications")}}</span>
                                </p>
                                <!--p class="mb-0">
                                    <span class="badge bg-warning rounded-pill">6</span>
                                </p>
                            </a>
                        </div-->
                        <div class="mt-1">
                            <a href="/user/profile" class="user-menu-link d-flex p-2 align-items-center p-3 justify-content-between {{current_url starts with "/user/profile" ? "active" : "" }}"
                                style="border-radius: 15px;">
                                <p class="mb-0 d-inline-flex align-items-center">
                                    <span>
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M17.2938 14.6894C16.8423 13.679 16.1871 12.7612 15.3646 11.9872C14.5446 11.2109 13.5733 10.592 12.5042 10.1646C12.4947 10.1601 12.4851 10.1578 12.4755 10.1533C13.9667 9.13568 14.9361 7.47814 14.9361 5.60804C14.9361 2.51005 12.2792 0 9 0C5.72077 0 3.06387 2.51005 3.06387 5.60804C3.06387 7.47814 4.03328 9.13568 5.52449 10.1555C5.51492 10.16 5.50534 10.1623 5.49577 10.1668C4.42343 10.5942 3.46121 11.207 2.63541 11.9894C1.81371 12.7641 1.15857 13.6817 0.706172 14.6917C0.261734 15.6805 0.0220377 16.7406 5.98544e-05 17.8146C-0.00057901 17.8387 0.00390188 17.8627 0.0132386 17.8852C0.0225753 17.9077 0.036579 17.9281 0.0544243 17.9454C0.0722696 17.9627 0.0935956 17.9764 0.117146 17.9858C0.140696 17.9952 0.165993 18 0.191548 18H1.62771C1.73303 18 1.8168 17.9209 1.8192 17.8236C1.86707 16.0779 2.60908 14.443 3.92078 13.2038C5.27795 11.9216 7.08033 11.2161 9 11.2161C10.9197 11.2161 12.722 11.9216 14.0792 13.2038C15.3909 14.443 16.1329 16.0779 16.1808 17.8236C16.1832 17.9231 16.267 18 16.3723 18H17.8085C17.834 18 17.8593 17.9952 17.8829 17.9858C17.9064 17.9764 17.9277 17.9627 17.9456 17.9454C17.9634 17.9281 17.9774 17.9077 17.9868 17.8852C17.9961 17.8627 18.0006 17.8387 17.9999 17.8146C17.976 16.7337 17.739 15.6822 17.2938 14.6894ZM9 9.49749C7.90134 9.49749 6.8673 9.09271 6.08938 8.35779C5.31146 7.62286 4.88301 6.64598 4.88301 5.60804C4.88301 4.5701 5.31146 3.59322 6.08938 2.85829C6.8673 2.12337 7.90134 1.71859 9 1.71859C10.0987 1.71859 11.1327 2.12337 11.9106 2.85829C12.6885 3.59322 13.117 4.5701 13.117 5.60804C13.117 6.64598 12.6885 7.62286 11.9106 8.35779C11.1327 9.09271 10.0987 9.49749 9 9.49749Z"
                                                fill="currentColor" />
                                        </svg>


                                    </span>
                                    <span class="ms-2" style="font-weight: 600;">{{t("Mon Compte")}}</span>
                                </p>
                                <!--p class="mb-0">
                                    <span class="badge bg-warning rounded-pill">6</span>
                                </p-->
                            </a>
                        </div>
                        <div class="mt-1">
                            <a href="/auth/disconnect"
                                class="disconnect user-menu-link d-flex p-2 align-items-center p-3 justify-content-between"
                                style="border-radius: 15px;">
                                <p class="mb-0 d-inline-flex align-items-center">
                                    <span>
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M16.1145 13.5103H14.6733C14.5749 13.5103 14.4826 13.5533 14.4211 13.6292C14.2776 13.8035 14.1238 13.9716 13.9619 14.1315C13.2995 14.7945 12.5148 15.323 11.6514 15.6875C10.7568 16.0654 9.79531 16.2592 8.82423 16.2575C7.84222 16.2575 6.89095 16.0648 5.9971 15.6875C5.13364 15.323 4.34901 14.7945 3.6866 14.1315C3.023 13.4706 2.49386 12.6874 2.12849 11.8251C1.74922 10.9312 1.55856 9.98201 1.55856 8.99999C1.55856 8.01798 1.75127 7.06877 2.12849 6.17491C2.49342 5.3118 3.01825 4.5348 3.6866 3.86851C4.35494 3.20221 5.13194 2.67738 5.9971 2.31246C6.89095 1.93523 7.84222 1.74252 8.82423 1.74252C9.80624 1.74252 10.7575 1.93318 11.6514 2.31246C12.5165 2.67738 13.2935 3.20221 13.9619 3.86851C14.1238 4.03047 14.2755 4.19858 14.4211 4.37079C14.4826 4.44665 14.5769 4.4897 14.6733 4.4897H16.1145C16.2437 4.4897 16.3236 4.34619 16.2519 4.23753C14.6794 1.79377 11.9281 0.176218 8.80168 0.184418C3.88956 0.196719 -0.0487471 4.18423 0.000456061 9.0902C0.0496593 13.9183 3.98182 17.8156 8.82423 17.8156C11.9425 17.8156 14.6815 16.2001 16.2519 13.7625C16.3216 13.6538 16.2437 13.5103 16.1145 13.5103ZM17.9371 8.87083L15.0279 6.57468C14.9193 6.48858 14.7614 6.56648 14.7614 6.70384V8.26194H8.324C8.23379 8.26194 8.15999 8.33575 8.15999 8.42595V9.57403C8.15999 9.66423 8.23379 9.73804 8.324 9.73804H14.7614V11.2961C14.7614 11.4335 14.9213 11.5114 15.0279 11.4253L17.9371 9.12915C17.9567 9.11381 17.9725 9.0942 17.9834 9.07183C17.9943 9.04945 18 9.02488 18 8.99999C18 8.9751 17.9943 8.95053 17.9834 8.92815C17.9725 8.90578 17.9567 8.88618 17.9371 8.87083Z"
                                                fill="#F32424" />
                                        </svg>


                                    </span>
                                    <span class="ms-2 "
                                        style="font-weight: 600; color:#F32424; ">{{t("Déconnexion")}}</span>
                                </p>
                                <p class="mb-0">

                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5 mt-md-0 col-12 col-md-8 ">
            {% block userContent %}{% endblock %}
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", (e) => {
        $(".user-menu").on("click", (e) => {
            //if (window.innerHeight <= 800)
            $(e.currentTarget).toggleClass("close");
        })

    })
</script>
{% endblock %}