{% extends 'client/base.html.twig' %}

{% block title %}AdmissionFacile | {{"Obtener votre admission sans perdre du temps"|trans}}{% endblock %}

{% block body %}
<!-- about page start here  -->
<div class="instructors-wrapper single-page-section-bottom-space">

    <!-- breadcrumb area start here  -->
    <div class="breadcrumb-wrap style-01">
        <div class="container custom-container-01">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-content py-3">
                        <h3 class="title">{{t("Les Etablissements")}}</h3>
                        <p class="details">{{t('Rechercher et trouver en quelques minutes un établissement pour votre formation')}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end here  -->

    <!-- teem area start here  -->
    <section class="our-team-area-wrapper">
        <div class="our-team-inner">
            <div class="container custom-container-01">
                <div class="row column-gap-50">
                    <div class="col-0 col-md-4 pe-xl-5 ">
                        <h5 class="mb-3">{{t("Filtres")}}</h5>
                        <div class="">
                            <form class="search-form p-4 p-lg-5  card border-0 shadow-sm" style="border-radius: 30px;">
                                <div>
                                    <h6 class="">{{t("Langue")}}</h6>
                                    <div class="mt-3">
                                        <div class="d-flex justify-content-between">
                                            <div class="form-check">
                                                <input class="form-check-input" name="lang:en" {{filters_langs is empty ? "checked" : ("en" in filters_langs? "checked":"")}} type="checkbox" value="en"
                                                    id="defaultCheck1" >
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Anglais
                                                </label>
                                            </div>
                                            <div class="">
                                                
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between mt-1">
                                            <div class="form-check mt-1">
                                                <input class="form-check-input" name="lang:fr" type="checkbox" value="fr"
                                                    id="defaultCheck2" {{filters_langs is empty ? "checked" : ("fr" in filters_langs? "checked":"")}}>
                                                <label class="form-check-label" for="defaultCheck2">
                                                    Français
                                                </label>
                                            </div>
                                            <div class="">
                                                
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="mt-4">
                                    <h6>{{t("Villes")}}</h6>
                                    <div class="mt-3 d-flex flex-column">
                                        {% for k, r in town|slice(0, 4) %}
                                        <div class="d-flex justify-content-between mt-1">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" name="town:{{r.town_id}}" {{filters_towns is empty ? "checked" : (r.town_id in filters_towns? "checked":"")}} type="checkbox" id="inlineCheckbox1"
                                                    value="{{r.town_id}}">
                                                <label class="form-check-label"
                                                    for="inlineCheckbox1">{{r.town_name}}</label>
                                            </div>
                                            {% if r.total is not empty %}
                                            <div class="">
                                                <p class="px-2 text-white rounded-pill bg-primary small">{{r.total}}</p>
                                            </div>
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                        <div id="collapseOne" class="collapse" data-bs-parent="#accordionOne">
                                            {% for k, r in town|slice(4) %}
                                            <div class="d-flex justify-content-between mt-1">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" name="town:{{r.town_id}}" {{filters_towns is empty ? "checked" : (r.town_id in filters_towns? "checked":"")}} type="checkbox" id="inlineCheckbox1"
                                                        value="{{r.town_id}}">
                                                    <label class="form-check-label"
                                                        for="inlineCheckbox1">{{r.town_name}}</label>
                                                </div>
                                                {% if r.total is not empty %}
                                                <div class="">
                                                    <p class="px-2 text-white rounded-pill bg-primary small">{{r.total}}</p>
                                                </div>
                                                {% endif %}
                                            </div>
                                            {% endfor %}
                                        </div>
                                        {% if town|slice(4)|length %}
                                        <div>
                                            <a class="collapsed" role="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="false"
                                                aria-controls="collapseOne">
                                                <p class=" mt-2 "><small>{{t("Voir plus")}}</small></p>
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <button type="submit" class="btn btn-common w-100 p-3 round-lg btn-primary">{{t("Filtrer")}}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 p-3 mt-lg-4 {{ institutions is empty ? "d-flex justify-content-center align-items-center"}}">
                        {% for i in data %}
                        <div class="offer-item p-4 p-lg-5 bg-white mt-5" style="border-radius: 30px;">
                            <div class="d-flex justify-content-between">
                                <h4>{{i.institution_name}} - <span class="text-primary">{{t("Groupe")}} {{"SJFJDND"}}</span></h4>
                                {% set isActiveAdmission= 0 %}
                                {% for a in i.admissions  %}
                                {% set isActiveAdmission = date('now') > date(a.admission_group_close_date) ? isActiveAdmission + 0 : isActiveAdmission + 1 %}
                                {% endfor %}
                                <p class="{{isActiveAdmission ? 'text-success':'text-danger'}}  m-0 me-2 ">
                                    <span class="{{isActiveAdmission ? 'text-success':'text-danger'}}">{{isActiveAdmission ? t("Active") : t("Cloturée")}}</span>
                                    <span>
                                        <span style="width:10px; height:10px;"
                                            class="d-inline-block   {{isActiveAdmission ? 'bg-success':'bg-danger'}} border border-light rounded-circle">
                                            <span class="visually-hidden">New alerts</span>
                                        </span>
                                    </span>
                                </p>
                            </div>
                            <div>
                                <h6 class="border-bottom pb-2 mb-2 mt-4 mb-0">{{t("Groupe d'admission")}}</h6>
                                {% set places = 0 %}
                                {% for a in i.admissions|slice(0, 1)  %}
                                <div class="row">
                                    <div class="col-4">
                                        <p><strong>{{a.admission_group_name}} ({{a.admission_group_code}})</strong></p>
                                    </div>
                                    <div class="col-4">
                                        {% if'now'|date("U") < a.admission_group_close_date|date("U") %}
                                        {{a.admission_group_max_places}} places disponibles
                                        {% endif %}
                                    </div>
                                    <div class="col-4">
                                        {% if "now"|date('U') >= a.admission_group_start_date|date("U") and  "now"|date('U') < a.admission_group_close_date|date("U")   %}
                                            <span class="text-success">
                                                {{"Ouverte jusqu'au " ~ a.admission_group_close_date|date("d/m/Y")}}
                                            </span>
                                        {% else  %}
                                            {% if "now"|date('U') > a.admission_group_close_date|date("U") %}
                                            {{"Cloturé le " ~ a.admission_group_close_date|date("d/m/Y")}}
                                            {% else  %}
                                            {{"Débute le " ~ a.admission_group_start_date|date("U")}}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                {% set places = places + a.admission_group_max_places %}
                                {% endfor %}
                                <div id="collapseSimpleOne" class="collapse" data-bs-parent="#accordionOne">
                                    {% for k, r in i.admissions|slice(1) %}
                                    <div class="row">
                                        <div class="col-4">
                                            <p><strong>{{a.admission_group_name}} ({{a.admission_group_code}})</strong></p>
                                        </div>
                                        <div class="col-4">
                                            {{a.admission_group_max_places}} places disponibles
                                        </div>
                                        <div class="col-4">
                                        {% if date('now') >= date(a.admission_group_start_date) and  date('now') < date(a.admission_group_close_date)   %}
                                            <span class="text-success">
                                                {{"Ouverte jusqu'au " ~ a.admission_group_close_date|date("d/m/Y")}}
                                            </span>
                                        {% else  %}
                                            {% if date('now') > date(a.admission_group_close_date) %}
                                            {{"Cloturé le " ~ a.admission_group_close_date|date("d/m/Y")}}
                                            {% else  %}
                                            {{"Débute le " ~ date(a.admission_group_start_date)}}
                                            {% endif %}
                                        {% endif %}
                                        </div>
                                    </div>
                                    {% set places = places + a.admission_group_max_places %}
                                    {% endfor %}
                                </div>
                                {% if i.admissions|slice(1)|length %}
                                <div>
                                    <a class="collapsed" role="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSimpleOne" aria-expanded="false"
                                        aria-controls="collapseSimpleOne">
                                        <p class=" mt-2 "><small>{{t("Voir Tout")}}</small></p>
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                            <div class="mt-4 d-sm-flex justify-content-between ">
                                <div class="d-flex align-items-center">
                                    <p class="mb-0 text-success">
                                        <i class="fas fa-user"></i>
                                        <span class="ms-2">{{places}} {{t("Places Disponibles")}}</span>
                                    </p>
                                    <p class="mb-0 ms-1 ms-md-4">
                                        <i class="fas fa-location-pin"></i>
                                        <span class="ms-2">{{i.institution_adress}}</span>
                                    </p>
                                </div>
                                <div class="d-flex  mt-4 mt-sm-0 justify-content-end align-items-center">
                                    <a href="/institution/{{i.institution_id}}#nav-admission-tab" class="w-100 btn-action btn btn-primary text-primary px-4"
                                        style="background:rgba(118, 74, 241, 0.18); border-radius: 10px;">{{t("Voir")}}</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% if data is empty %}
                        <div class="text-center">
                            <p class="text-center">{{t("Aucune insitutions correspondant à votre recherche")}}</p>
                        </div>
                        {% endif %}

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="pagination">
                            
                            <ul class="pagination-list">
                                {% for k,v in buttons %}
                                    <li>
                                        <a href="{{v.url}}&{{query}}" class="page-number  {{currentPage==v.id ? 'current':''}} {{k=='prev' ? 'able left-arrow':(k=='next' ? 'able right-arrow':'')}}">
                                            {{v.name|upper}}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- teem area end here  -->
</div>
<!-- about page end here  -->
<script>
    document.querySelector("body").onload=function(){
        $('form.search-form ').on("submit", (e)=>{
            e.preventDefault();
            const {form:values}=getFormValues("form.search-form");
            const data={
                towns:[],
                langs:[]
            }
            for(let i in values){
                if(i && values[i] ){
                    const d=i.split(":");
                    if(d[0]==="town" && d[1]){
                        data.towns.push(d[1]); 
                    }else if(d[0]==="lang" && d[1]){
                        data.langs.push(d[1]); 
                    }
                }
            }
         
            window.location.href="/catalogue/{{programId}}/institus?towns="+data.towns.join(",")+"&langs="+data.langs.join(",")
        })

        $('.collapsed').on('click', ()=>{
            
        })
    }
</script>
{% endblock %}



