{% extends 'client/base.html.twig' %}

{% block title %}AdmissionFacile | {{"Obtener votre admission sans perdre du temps"|trans}}{% endblock %}

{% block body %}

<div>
    <h1>{{t("Politique en matière de cookies pour AdmissionFacile"|raw)}}</h1>

    <p>{{t("Voici la politique en matière de cookies d'AdmissionFacile, accessible depuis https://admissionfacile.com"|raw)}}</p>

    <p><strong>{{t("Que sont les cookies"|raw)}}</strong></p>

    <p>{{t(" Comme c'est une pratique courante sur presque tous les sites Web professionnels, ce site utilise des cookies, qui
        sont de petits fichiers téléchargés sur votre ordinateur, pour améliorer votre expérience. Cette page décrit les
        informations qu'ils collectent, comment nous les utilisons et pourquoi nous devons parfois stocker ces cookies.
        Nous vous expliquerons également comment vous pouvez empêcher le stockage de ces cookies, mais cela pourrait
        dégrader ou « casser » certains éléments des fonctionnalités du site."|raw)}}</p>

    <p><strong>{{t("Comment nous utilisons les cookies"|raw)}}</strong></p>

    <p>{{t("Nous utilisons des cookies pour diverses raisons détaillées ci-dessous. Malheureusement, dans la plupart des cas,
        il n'existe aucune option standard de l'industrie pour désactiver les cookies sans désactiver complètement les
        fonctionnalités et les caractéristiques qu'ils ajoutent à ce site. Il est recommandé de laisser tous les cookies
        si vous n'êtes pas sûr d'en avoir besoin ou non au cas où ils seraient utilisés pour fournir un service que vous
        utilisez."|raw)}}</p>

    <p><strong>{{t("Désactiver les cookies"|raw)}}</strong></p>

    <p>{{t("Vous pouvez empêcher l'installation de cookies en ajustant les paramètres de votre navigateur (voir l'aide de
        votre navigateur pour savoir comment procéder). Sachez que la désactivation des cookies affectera la
        fonctionnalité de ce site et de nombreux autres sites Web que vous visitez. La désactivation des cookies
        entraînera généralement également la désactivation de certaines fonctionnalités et caractéristiques de ce site.
        Il est donc recommandé de ne pas désactiver les cookies. Cette politique de cookies a été créée avec l'aide du"|raw)}}
        <a href="https://www.cookiepolicygenerator.com/cookie-policy-generator/">{{t("Générateur de politique de cookies"|raw)}}</a>.
    </p>
    <p><strong>{{t("Les cookies que nous définissons"|raw)}}</strong></p>

    <ul>

        <li>
            <p>{{t("Cookies liés au compte"|raw)}}</p>
            <p>{{t("Si vous créez un compte chez nous, nous utiliserons des cookies pour la gestion du processus
                d'inscription et l'administration générale. Ces cookies seront généralement supprimés lorsque vous vous
                déconnecterez, mais dans certains cas, ils pourront rester par la suite pour mémoriser vos préférences
                de site lorsque vous vous déconnecterez."|raw)}}</p>
        </li>

        <li>
            <p>{{t("Cookies liés à la connexion"|raw)}}</p>
            <p>{{t("Nous utilisons des cookies lorsque vous êtes connecté afin que nous puissions nous en souvenir. Cela vous
                évite de devoir vous connecter à chaque fois que vous visitez une nouvelle page. Ces cookies sont
                généralement supprimés ou effacés lorsque vous vous déconnectez pour garantir que vous ne pouvez accéder
                aux fonctionnalités et zones restreintes que lorsque vous êtes connecté."|raw)}}</p>
        </li>




        <li>
            <p>{{t("Cookies liés aux formulaires"|raw)}}</p>
            <p>{{t("Lorsque vous soumettez des données via un formulaire tel que ceux trouvés sur les pages de contact ou les
                formulaires de commentaires, des cookies peuvent être définis pour mémoriser vos informations
                d'utilisateur pour une correspondance future."|raw)}}</p>
        </li>


    </ul>

    <p><strong>{{t('Cookies tiers'|raw)}}</strong></p>

    <p>{{t("Dans certains cas particuliers, nous utilisons également des cookies fournis par des tiers de confiance. La
        section suivante détaille les cookies tiers que vous pourriez rencontrer via ce site."|raw)}}</p>

    <ul>

        <li>
            <p>{{t("Ce site utilise Google Analytics, l'une des solutions d'analyse les plus répandues et les plus fiables
                sur le Web, pour nous aider à comprendre comment vous utilisez le site et comment nous pouvons améliorer
                votre expérience. Ces cookies peuvent suivre des éléments tels que le temps que vous passez sur le site
                et les pages que vous visitez afin que nous puissions continuer à produire un contenu attrayant."|raw)}}</p>
            <p>{{t("Pour plus d'informations sur les cookies Google Analytics, consultez la page officielle de Google
                Analytics."|raw)}}</p>
        </li>



    </ul>

    <p><strong>{{t("Plus d'informations"|raw)}}</strong></p>

    <p>{{t("J'espère que cela a clarifié les choses pour vous et comme mentionné précédemment, si vous n'êtes pas sûr d'avoir
        besoin ou non de quelque chose, il est généralement plus sûr de laisser les cookies activés au cas où ils
        interagiraient avec l'une des fonctionnalités que vous utilisez. notre site."|raw)}}</p>

    <p>{{t("Pour des informations plus générales sur les cookies, veuillez lire"|raw)}} <a
            href="https://www.cookiepolicygenerator.com/sample-cookies-policy/">{{t("l'article sur la politique en matière de
            cookies"|raw)}}</a>.</p>

    <p>{{t("Cependant, si vous recherchez toujours plus d'informations, vous pouvez nous contacter via l'une de nos méthodes
        de contact préférées :"|raw)}}</p>

    <ul>

        <li>{{t("En visitant ce lien : https://admissionfacile.com"|raw)}}</li>
    </ul>
</div>

{% endblock %}