{% extends 'client/base.html.twig' %}

{% block title %}AdmissionFacile | {{"Obtener votre admission sans perdre du temps"|trans}}{% endblock %}

{% block body %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Banner Area Start Here
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="banner-area home-01 mt-4">
    <div class="container custom-container-01">
        <div class="banner-wrapper">
            <div class="row">
                <div class="col-xl-7 col-lg-10">
                    <div class="banner-inner">
                        <p class="subtitle">{{"BATISSEZ VOTRE CARRIERE PROFESSIONNELLE"|trans}} </p>
                        <h1 class="title">{{"Décrochez votre"|trans}} <span id="context-home"><span class="initial">admission</span><noscript>admission</noscript></span> {{"en quelques étapes !"|trans}}</h1>
                        <p>{{"Rechercher et trouver la formation ou le travail qui vous convient dans notre catalogue"|trans}} <br> {{"Et demander une admission dès maintenant."|trans}}</p>
                        <div class="header-btn">
                            <div class="btn-wrap">
                                <a href="/free-submission" class="btn-common flat-btn btn-active">{{"Soumettre une demande"|trans}}</a>
                            </div>
                            <div class="btn-wrap ms-md-4">
                                <a href="/catalogue" class="btn-common fill-btn ">{{"Les Formations"|trans}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="thumbnail">
                        <img  src="/assets/img/header/header-img.png" class="banner-img main" alt="Student">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Banner Area End Here
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Features Area Start Here
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="features-section margin-top-100">
    <img src="/assets/img/shapes/graduation.png" class="shape" alt="graduation cap">
    <div class="container custom-container-01">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="icon-box-item">
                    <div class="icon">
                        <img src="/assets/img/icon/idea.png" alt="">
                    </div>
                    <div class="content">
                        <h4 class="title">{{"Le travail accessible à tous"|trans}}</h4>
                        <p>{{"Que vous ayez déjà un diplôme ou non, vous pouvez postuler quelque soit votre niveau."|trans}}</p>
                    </div>
                    <div class="btn-wrap " style="height:10px">
                        <a href="/jobs" class="more-btn">{{"Voir les offres"}} <i class="fa-solid fa-angle-right icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon-box-item">
                    <div class="icon">
                        <img src="/assets/img/icon/coversation.png" alt="">
                    </div>
                    <div class="content">
                        <h4 class="title">{{"Un Processus Facile & Simplifié"}}</h4>
                        <p>{{"Soumettez votre candidature en ligne, payez les frais de dossier et attendez la réponse."|trans}}</p>
                    </div>
                    <div class="btn-wrap " style="height:10px">
                        <a href="/free-submission" class="more-btn">{{"Décrouvrez Maintenant"}} <i class="fa-solid fa-angle-right icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon-box-item">
                    <div class="icon">
                        <img src="/assets/img/icon/emergency.png" alt="">
                    </div>
                    <div class="content">
                        <h4 class="title">{{"Des Formations Professionnelles"}}</h4>
                        <p>{{"Choisissez parmi une gamme variée de formations professionnels proposées pour faire votre choix de carrière."}}</p>
                    </div>
                    <div class="btn-wrap " style="height:10px">
                        <a href="/catalogue" class="more-btn">{{"Voir les formations"}} <i class="fa-solid fa-angle-right icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="margin-top-110 section-bottom-space">
    <div class="destination-section">
        <img src="/assets/img/shapes/mountant.png"
            class="shape-01 wow animate__animated animate__delay-1s animate__fadeInUp" alt="mountant">
        <div class="plane-wrap">
            <img src="/assets/img/shapes/plane.png" class="shape-02" alt="mountant">
        </div>
        <div class="container custom-container-01">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="theme-section-title desktop-center text-center">
                        <h4 class="title">{{"Les Pays Que Nous Couvrons"|trans}}</h4>
                        <p>{{"Nous developpons des relations dans plusieurs pays avec des institutions de professionnelles et réputées"|trans}}</p>
                    </div>
                </div>
            </div>
            <div class="destination-items-wrap style-01">
                
                <div href="/catalogue?countries=fr" class="destination-single-item d-flex flex-column align-items-center">
                    <div class="thumbnail">
                        <img src="/assets/img/countries/flags/1x1/fr.svg" alt="">
                    </div>
                    <h6 class="name">France</h6>
                </div>
                <div ref="/catalogue?countries=ch" class="destination-single-item d-flex flex-column align-items-center">
                    <div class="thumbnail">
                        <img src="/assets/img/countries/flags/1x1/ch.svg" alt="">
                    </div>
                    <h6 class="name">Suisse</h6>
                </div>
                <div ref="/catalogue?countries=ca" class="destination-single-item d-flex flex-column align-items-center">
                    <div class="thumbnail">
                        <img src="/assets/img/countries/flags/1x1/ca.svg" alt="">
                    </div>
                    <h6 class="name">Canada</h6>
                </div>
                <div ref="/catalogue?countries=de" class="destination-single-item d-flex flex-column align-items-center">
                    <div class="thumbnail">
                        <img src="/assets/img/countries/flags/1x1/de.svg" alt="">
                    </div>
                    <h6 class="name">Allemagne</h6>
                </div>
            </div>
            <!--div class="btn-wrap desktop-center margin-top-40 text-center">
                <a href="/catalogue/countries" class="btn-common fill-btn style-01">Voir Plus</a>
            </div-->
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Destinations Area End Here
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Features Section Area Start Here
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="features-section home-two section-bottom-space">
    <div class="container custom-container-01">
        <div class="row">
            <div class="col-lg-5">
                <div class="theme-section-title">
                    <span class="subtitle">{{"OBTENEZ DE L'AIDE SI BESOIN"|trans}}</span>
                    <h4 class="title">
                        {{"Obtenez une assistance personnalisée tout au long du processus d'admission"|trans}}
                        <svg class="title-shape style-02 active" width="355" height="15" viewBox="0 0 355 15"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="path" d="M351.66 12.6362C187.865 -6.32755 49.6478 6.37132 3.41142 12.6362"
                                stroke="#764AF1" stroke-width="3" stroke-linecap="square"></path>
                            <path class="path" d="M351.66 13C187.865 -5.96378 49.6478 6.73509 3.41142 13"
                                stroke="#764AF1" stroke-width="3" stroke-linecap="square"></path>
                            <path class="path" d="M2.5 5.5C168.5 2.0001 280.5 -1.49994 352.5 8.49985"
                                stroke="#FFC44E" stroke-width="3" stroke-linecap="square"></path>
                        </svg>
                    </h4>
                    <p>{{"Nos conseillers sont disponibles 24h sur 24 pour répondre à tous vos besoins pour vous aider au mieux dans la soumission de votre dossier afin d'éviter le plus d'erreur possible et de décrocher votre admission ou votre job facilement."}}</p>
                </div>

                <div class="icon-box-with-text-wrap">
                    <ul class="ul icon-box-with-text style-01">
                        <li class="single-icon-box-with-text">
                            <div class="icon-wrap color-01">
                                <img src="/assets/img/icon/icon-and-text/key.svg" alt="">
                            </div>
                            <div class="content">
                                <p class="text">{{"Suivez aisément votre dossier à travers votre compte et recevrez les notifications dans votre boite mail."|trans}} 
                                </p>
                            </div>
                        </li>
                        <li class="single-icon-box-with-text style-02">
                            <div class="icon-wrap color-02">
                                <img src="/assets/img/icon/icon-and-text/board.svg" alt="">
                            </div>
                            <div class="content">
                                <p class="text">
                                    {{"Obtenez des formations professionnelles de pointe qui sont demandées sur le marché de l'emploi"|trans}}
                                </p>
                            </div>
                        </li>
                        <li class="single-icon-box-with-text style-03">
                            <div class="icon-wrap color-03">
                                <img src="/assets/img/icon/icon-and-text/monitor.svg" alt="">
                            </div>
                            <div class="content">
                                <p class="text">{{"Postuler pour votre prochain emploi en recherchant dans notre catalogue d'offre ou en nous envoyant directement vos choix . "|trans}}</p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="btn-wrap margin-top-60">
                    <a href="/signup" class="btn-common fill-btn">{{"Inscrivez-Vous Maintenant"|trans}}</a>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="thumbnail">
                    <img src="/assets/img/sections/about/student-discuse.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Features Section Area End Here
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Category Section Area Start Here
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<section class="category-section-area">
    <div class="container custom-container-01">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="theme-section-title desktop-center">
                    <span class="subtitle">Les Formations Les Plus Demandées</span>
                    <h4 class="title">Nos Formations Populaires</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="category-item">
                    {% for i in sectors|slice(0, 3) %}
                    <div class="categories-inner">
                        <div class="content-wrap" style="display: flex;align-items: center;">
                            <div class="icon">
                                <img style="width: 71px; height: 71px;" src="{{i.sector_iconUrl}}" alt="">
                            </div>
                            <div class="content">
                                <h4 class="title  ms-2">{{i.sector_name|raw}}</h4>
                                <!--p>458 Courses</p-->
                            </div>
                        </div>
                        <div class="icon">
                            <img src="/assets/img/icon/arrow-right.svg" alt="">
                        </div>
                    </div>
                    {% endfor %}
                   
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="category-item">

                    {% for j in (sectors|slice(3,3)) %}
                    <div class="categories-inner">
                        <div class="content-wrap" style="display: flex;align-items: center;">
                            <div class="icon">
                                <img style="width: 71px; height: 71px;" src="{{j.sector_iconUrl}}" alt="">
                            </div>
                            <div class="content">
                                <h4 class="title  ms-2">{{j.sector_name|raw}}</h4>
                                <!--p>458 Courses</p-->
                            </div>
                        </div>
                        <div class="icon">
                            <img src="/assets/img/icon/arrow-right.svg" alt="">
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="category-item">
                    {% for k in sectors|slice(6, 3) %}
                    <div class="categories-inner">
                        <div class="content-wrap" style="display: flex;align-items: center;">
                            <div class="icon">
                                <img style="width: 71px; height: 71px;" src="{{k.sector_iconUrl}}" alt="">
                            </div>
                            <div class="content">
                                <h4 class="title ms-2">{{k.sector_name|raw}}</h4>
                                <!--p>458 Courses</p-->
                            </div>
                        </div>
                        <div class="icon">
                            <img src="/assets/img/icon/arrow-right.svg" alt="">
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Category Section Area End Here
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Steps Section Area Start Here
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="destination-section style-01 margin-top-110 instruction">
    <div class="container custom-container-01">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="theme-section-title desktop-center text-center">
                    <span class="subtitle">ETAPES</span>
                    <h4 class="title">Obtenez votre admission en 5 étapes</h4>
                </div>
            </div>
        </div>
        <div class="destination-items-wrap">
            <div class="destination-single-item style-02">
                <div class="thumbnail">
                    <img src="/assets/img/icon/step-01.png" alt="">
                </div>
                <h6 class="name">Identifier  <br> Votre formation</h6>
            </div>
            <div class="destination-single-item style-02">
                <div class="thumbnail">
                    <img src="/assets/img/icon/step-02.png" alt="">
                </div>
                <h6 class="name">Rechercher une instution <br> offrant la formation</h6>
            </div>
            <div class="destination-single-item style-02">
                <div class="thumbnail">
                    <img src="/assets/img/icon/step-03.png" alt="">
                </div>
                <h6 class="name">Comprendre les <br>conditions d'admission</h6>
            </div>
            <div class="destination-single-item style-02">
                <div class="thumbnail">
                    <img src="/assets/img/icon/step-04.png" alt="">
                </div>
                <h6 class="name">Soumettre votre <br> Demande d'admission</h6>
            </div>
            <div class="destination-single-item style-02">
                <div class="thumbnail">
                    <img src="/assets/img/icon/step-05.png" alt="">
                </div>
                <h6 class="name">Payer les frais <br> de dossier</h6>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Steps Section Area End Here
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    News Section Area Start Here
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>
<section class="news-section-area margin-top-110">
    <div class="container custom-container-01">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="theme-section-title desktop-center text-center">
                    <span class="subtitle">EDUPLAN UPDATES</span>
                    <h4 class="title">Eduplan Latest Blog</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="blog-grid-item">
                    <div class="thumbnail">
                        <img src="/assets/img/h-blog/01.png" alt="" class="border-radius-20">
                    </div>
                    <div class="content">
                        <ul class="post-categories">
                            <li><img src="/assets/img/icon/calander.png" alt="">19th Jan 2022</li>
                            <li>12 noon to 4 pm</li>
                        </ul>
                        <h4 class="title">Overseas Education Fair Amravati 2023</h4>
                        <div class="btn-wrap">
                            <a href="#0" class="more-btn">Read More <i
                                    class="fa-solid fa-angle-right icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-grid-item">
                    <div class="thumbnail">
                        <img src="/assets/img/h-blog/02.png" alt="">
                    </div>
                    <div class="content">
                        <ul class="post-categories">
                            <li><img src="/assets/img/icon/calander.png" alt="">19th Jan 2022</li>
                            <li>12 noon to 4 pm</li>
                        </ul>
                        <h4 class="title">Overseas Education Fair Amravati 2023</h4>
                        <div class="btn-wrap">
                            <a href="#0" class="more-btn">Read More <i
                                    class="fa-solid fa-angle-right icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-grid-item">
                    <div class="thumbnail">
                        <img src="/assets/img/h-blog/03.png" alt="">
                    </div>
                    <div class="content">
                        <ul class="post-categories">
                            <li><img src="/assets/img/icon/calander.png" alt="">19th Jan 2022</li>
                            <li>12 noon to 4 pm</li>
                        </ul>
                        <h4 class="title">Overseas Education Fair Amravati 2023</h4>
                        <div class="btn-wrap">
                            <a href="#0" class="more-btn">Read More <i
                                    class="fa-solid fa-angle-right icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    News Section Area End Here
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Faq Section Area Start Here
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="faq-section-area margin-top-90">
    <div class="container custom-container-01">
        <div class="row">
            <div class="col-lg-6">
                <div class="theme-section-title">
                    <span class="subtitle">{{"FAQ"|trans}}</span>
                    <h4 class="title">{{"Question Fréquemment Posées"|trans}}</h4>
                </div>
                <div class="faq-content">
                    <h6 class="subtitle">{{"Vous avez toujours des questions ?"|trans}} <br>{{" Posez vos questions à nos conseillers ici."|trans}}</h6>
                    <div class="btn-wrap">
                        <a href="/contact-us" class="btn-common flat-btn">{{"POSEZ UNE QUESTION"|trans}}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="accordion-wrapper">
                    <!-- accordion wrapper -->
                    <div id="accordionOne">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <a class="collapsed" role="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="false"
                                        aria-controls="collapseOne">
                                        {{"1. Qu'est-ce que AdmissionFacile ?"|trans}} 
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" data-bs-parent="#accordionOne">
                                <div class="card-body">
                                    {{"AdmissionFacile est une plateforme en ligne qui facilite le processus d'admission en formation professionnelle et la recherche d'emploi, en permettant aux individus de postuler , quels que soient leur niveau de diplôme et leur parcours éducatif."|trans}} 
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <a class="collapsed" role="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        {{"2. Qui peut utiliser AdmissionFacile ?"|trans}} 
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" data-bs-parent="#accordionOne">
                                <div class="card-body">
                                    {{"Toute personne intéressée par une formation professionnelle ou recherchant un emploi peut utiliser AdmissionFacile. "|trans}} 
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <a class="collapsed" role="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        {{"3. Comment fonctionne le processus d'admission sur AdmissionFacile ?"|trans}} 
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse show" data-bs-parent="#accordionOne">
                                <div class="card-body">
                                    {{"Vous soumettez votre dossier de candidature en ligne, payez les frais de dossier, puis attendez la réponse de notre équipe de révision. Si votre candidature est acceptée, vous recevrez une confirmation d'admission."|trans}} 
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <a class="collapsed" role="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                        {{"4. Quels types de formations sont disponibles sur AdmissionFacile ?"|trans}} 
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" data-bs-parent="#accordionOne">
                                <div class="card-body">
                                {{" Nous collaborons avec un réseau diversifié d'écoles partenaires offrant une variété de formations professionnelles. Des domaines tels que la technologie, la santé, les arts, et bien plus encore, sont couverts."|trans}} 
                                    
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <h5 class="mb-0">
                                    <a class="collapsed" role="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFive" aria-expanded="false"
                                        aria-controls="collapseFive">
                                         {{"5. Dois-je avoir un diplôme pour postuler ?"|trans}} 
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse" data-bs-parent="#accordionOne">
                                <div class="card-body">
                                    {{"Non, AdmissionFacile accepte les candidatures de personnes ayant ou n'ayant pas de diplôme. Notre objectif est de faciliter l'insertion professionnelle pour tous."|trans}}
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSix">
                                <h5 class="mb-0">
                                    <a class="collapsed" role="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSix" aria-expanded="false"
                                        aria-controls="collapseSix">
                                        {{"6. Combien de temps faut-il pour recevoir une réponse ?"|trans}} 
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseSix" class="collapse" data-bs-parent="#accordionOne">
                                <div class="card-body">
                                    {{"Nous nous efforçons de traiter les candidatures rapidement. Vous recevrez généralement une réponse concernant votre admission dans un délai raisonnable après la soumission de votre dossier."|trans}}
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSeven">
                                <h5 class="mb-0">
                                    <a class="collapsed" role="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSix" aria-expanded="false"
                                        aria-controls="collapseSix">
                                        {{"7. Comment puis-je confirmer mon admission une fois accepté ?"|trans}} 
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseSix" class="collapse" data-bs-parent="#accordionOne">
                                <div class="card-body">
                                    {{"Une fois accepté, vous recevrez des documents de confirmation et un code d'admission. Vous pouvez utiliser ce code auprès de l'établissement de formation pour finaliser votre inscription."|trans}}
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingEight">
                                <h5 class="mb-0">
                                    <a class="collapsed" role="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseEight" aria-expanded="false"
                                        aria-controls="collapseEight">
                                        {{"8. Quels sont les frais de dossier utilisés pour ?"|trans}} 
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseEight" class="collapse" data-bs-parent="#accordionOne">
                                <div class="card-body">
                                    {{"Les frais de dossier couvrent les coûts administratifs liés à la révision des candidatures. Ils garantissent également l'engagement sérieux des candidats."|trans}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Faq Section Area End Here
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<script>
    window.onload=()=>{
        document.querySelector("#context-home .initial").remove()
        new TypeIt("#context-home", {
            speed: 100,
            waitUntilVisible: true,
            loop: true
        })
        .type("admission")
        .pause(3000)
        .delete("admission".length)
        .type("job")
        .pause(3000)
        .delete("job".length)
        .go()
    }
</script>
{% endblock %}
